body {
  background-color: whitesmoke;
  padding-top: 3rem; // This is because of the fixed navbar to push down a page a little
}

section {
  padding: 55px 30px 30px 30px;
}

p {
  text-align: justify;
}

#head #portfolio {
  background-color: white;
}

.footer {
  background-color: #292B2C;
  color: #F8F8F1;
  height: 60px;
  line-height: 60px;
}
